/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


							/*Header*/

.wrapper {
	color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.header {
	width: 100%;
	height: 44px;
	background-color: #000;
}
.container {
	max-width: 1110px;
	height: 100%;
	padding:0 15px;
	margin: 0 auto;
}
.header__row {
	font-family: 'PT Sans', sans-serif;
	color: #969696;
	display: flex;
	justify-content: space-between;
}
.header__left {
	display: flex;
	align-items:flex-end;
}
.header__img{
	margin: 0 10px 0 0;
}
.header__text {}
.header__right {}
.header__input {}
.header__link {
	text-decoration: none;
	color: #969696;

}
							/*Subheader*/
.subheader {
	line-height: 80px;
	text-transform: uppercase;
	width: 100%;
	height: 80px;
	background-color: #0F0F0F;
}
.subheader__content{
}
.subheader__row {
	display: flex;
	justify-content: space-between;


}
.subheader__logo {
	font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;
	font-size: 36px;
}
.subheader__nav {
	position: relative;
}
.subheader__link {
	margin: 0 20px;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
}
.subheader__img{
	position: absolute;
	top: 30px;
	left: 470px;
}
}
.subheader__link:hover{
	color: #969696;
	transition: color .3s linear;
}
							/*Bodyblock*/
.bodyblock {
	max-width: 100%;
	height: 810px;
	background: url("img/bacground_1.jpg"); 
	padding-top: 160px;
}
.bodyblock__block{
	margin: auto auto;

	
}
.bodyblock__bigtext {
	width: 320px;
	display: flex;
	align-items:center;
	height: 320px;
	margin: 0 auto;
	border:4px #fff solid;

}
.bodyblock__logo {
	font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;
	font-size: 64px;
	text-decoration: underline;
	margin-bottom: 7px;
	text-align: center;
}
.bodyblock__textblock{
	max-width: 730px;
	min-height: 96px;
	margin: 0 auto;
	margin-top: 80px;
}

.bodyblock__text {
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-align: center;
}
.bodyblock__subtext {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
						/*Section*/
.section {

}
.section__row {
	display: flex;
}
.section__left {
	width: 55%;
	height: 730px;
	background-color: #000;
	padding: 0 80px 0 80px;
	
}
.section__title {
		font-family: 'Playfair Display', serif; 
		font-size: 36px;
		text-align: center;
		margin: 92px 0 50px 0;
		font-weight: 700;
}
.section__flex {
	display: flex;
	justify-content: space-between;
}
.section__color{
	display: table-cell;
	max-width: 260px;
	vertical-align: middle;
	text-align: center;
	height: 325px;
	background-color: #191B1C

}
.section__column {
	/*margin-left: 50px;*/
	height: 390px;
	max-width: 260px;
	width: 30%;

}
.section__column-left{
	margin-left: 40px;
}
.section__img {

}
.section__text {
	font-weight: 400;
	font-family: 'Playfair Display', serif; 
	font-size: 18px;
	margin-top: 25px;
}
.section__price {
	font-family: 'Playfair Display', serif; 
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}
.section__right {
	width: 45%;
	height: 730px;
	background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(.jpg), #000000;
	background-image:url("img/bacground_2.jpg"); 

}
.section__line{
	max-width: 120px;
	height: 0px;
	margin: 0 auto;
	border: 1px solid #fff;
	margin-bottom: 30px;
}
.section__righttitle {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	font-family: 'Playfair Display', serif; 
	text-align: center;
	margin-top: 484px;
	margin-bottom: 30px;
}
.section__btn {
	max-height: 52px;
	width: 140px;
	border: 1px #fff solid;
	text-align:center;
	line-height: 52px;
	margin: 0 auto;

}

.section__link{
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;

	
}
									/*Collection*/
.collection {
	width: 100%;
	height: 600px;
}
.collection__row{
	width: 100%;
	height: 100%;
	display: flex;
}
.collection__left {
	width: 45%;
	height: 100%;
	background-image: url("img/bacground_3.jpg");
}
.collection__right {
	width: 55%;
	height: 100%;
	background-color: #000;
}
.collection__title {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase; 
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	margin: 100px 0 40px 0;

}
.collection__line {
	max-width: 120px;
	height: 0px;
	margin: 0 auto;
	border: 1px solid #fff;
	margin-bottom: 40px;
}
.collection__text {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 60px;

}
.collection__btnblock{
	max-width: 312px;
	max-height: 48px;
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 12px 28px;
}
.collection__link{
	text-decoration: none;
	color: #fff;
}
.collection__btn {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;

											/*Arrivals*/
}
.arrivals {
	width: 100%;
	min-height: 1290px;
	background-color: #000;
	padding-top: 120px;
}
.arrivals__title {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

}
.arrivals__line {
	max-width: 120px;
	height: 0px;
	margin: 0 auto;
	border: 1px solid #fff;
	margin: 40px auto 40px auto;
}
.arrivals__row {
	display: flex;

}
.arrivals__column{
	width: 25%;
	margin-left: 23px;
	margin-top:40px;
}
.arrivals__column-left{
	margin-left: 0;
}

									/*Brends*/
.brends {
	width: 100%;
	height: 362px;
	background-color:#0F0F0F;
	padding-top: 60px;
}
.brends__title {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	margin-bottom: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.brends__row {
	display: flex;
}

.brends__imag {
	margin-left: 30px;
}
.brends__img-activ{
	margin-left: 0px;
}
.brends__img {}


.footer {
	margin-top: auto;
}

						/*Options*/
.options {
	background-image: url("img/bacground_4.jpg");
	width: 100%;
	height: 400px;
}		


						/*Bottom*/
.bottom {
	background-color: #0F0F0F;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	height: 50px;
	width: 100%;
	line-height: 50px;

}
.bottom__row{
	display:flex;
	justify-content: space-between;

}

								/*Options*/
.options {}
.options__row {
	display: flex;
	justify-content: space-between;
}
.options__title{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	margin: 80px 0 40px 0;
	text-transform: uppercase;
	font-weight: 400;

}
.options__text{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;

}
.categories__but {
	font-family: PT Sans;
	background-color: #0F0F0F;
	color: #D0D0D0;
	font-size: 14px;
	height: 41px;
	padding: 10px 20px;
	margin-left: 20px;

}
.mailing__text {
	margin-bottom: 38px;
}
.mailing__form {
	 style="display: inline-block;
}
.mailing__input {
	background:rgba(255, 255, 255, 0.4);
	color: #fff;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	padding: 10px;
}
.categories__but-mr{
	margin-bottom: 20px;
}
.mailing__button{
	width: 140px;
	height: 41px;
	background-color: #0F0F0F;
	font-family: PT Sans;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
input::-webkit-input-placeholder { color: #969696; }
